.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}
.filterButtons.active {
  background-color: beige;
}
.is-done {
  opacity: 0.5;
}
.todoListTitle {
  display: inline-block;
  margin-right: 5px;
}